body{
    background-color: darkgrey;
    font-family: Arial;
}
h1{
    color:black;
    font-size:23px;
    text-align:center;
}
form{
	margin:  auto;
	border:  solid thin black;
	padding: 6px;
	max-width: 200px;
}

#title{
	background-color: lightblue;
	padding: 1em;
	font-size: 20px;
	font-weight:bold;
	text-align: center;
	color:  black;
}

#textbox{
    border: solid thin black;
	margin: 6px;
	width: 90%;
}
img {
    max-width:75px;
    float: right;
    margin-right:50px;
}
.BUTTON {
	border: 2px solid black;
	background-color: lightblue;
	margin: 0 auto;
    position: absolute;
    left:50%;
    font-size:15px;
    margin-top:5px;
    color:black;
    margin-bottom:5px;
    cursor: pointer;
    text-decoration:none;
    transform: translateX(-50%);
    font-weight:normal;
    position:relative;
	display: inline-block;
	cursor: pointer;	
}